{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "printWidth": 120,
    "overrides": [
        {
            "files": ["*.yaml", "*.json", "*.css"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
